.form__close {
  background: none;
  border: none;
  box-shadow: none;
  background-image: url('../../../images/closeicon.svg');
  background-size: cover;
  width: 58px;
  height: 58px;
  position: absolute;
  top: -46px;
  right: -46px;
  cursor: pointer;
  padding: 0;
}

.form__close:focus {
  outline: none;
  opacity: .6;
}

.form__close:hover {
  opacity: .6;
  transition: opacity .3s linear;
}

@media screen and (max-width: 460px) {
  .form__close {
    width: 44px;
    height: 44px;
    top: -35px;
    right: -35px;
  }
}