.profile__job {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

@media screen and (max-width: 768px) {
  .profile__job {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
  }
}
