.profile__avatar-btn {
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
  background-image: url('../../../images/edit-avatar.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.3s linear;
}

.profile__avatar-btn:hover {
  opacity: .6;
}