.profile__title {
  font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 56px;
color: #FFFFFF;
margin: 0;
text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 350px;
}
