.card__button {
  background: none;
  box-shadow: none;
  border: none;
  width: 21px;
  height: 19px;
  background-image: url('../../../images/Heart-button.svg');
  background-position: center;
  margin-left: auto;
  cursor: pointer;
  padding: 0;
}

.card__button:focus {
  outline: none;
  opacity: .8;
}

.card__button:hover {
  opacity: .6;
  transition: opacity .3s linear;
}