.form__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 34px 0 54px;
  align-self: start;
}

@media screen and (max-width: 460px) {
  .form__title {
    font-size: 18px;
    line-height: 22px;
    margin: 30px 0 36px;
  }
}