.profile__shading {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: avatar;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s linear;
}