.profile__add-button {
  background: none;
  box-shadow: none;
  background-image: url('../../../images/Add-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.profile__add-button:focus {
  outline: none;
  opacity: .6;
}

.profile__add-button:hover {
  opacity: .6;
  transition: opacity .3s linear;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    margin-left: 0;
    margin-top: 36px;
    width: 282px;
  }
}
