.card__recycle {
  background: none;
  box-shadow: none;
  border: none;
  background-image: url('../../../images/recycle.svg');
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  cursor: pointer;
  padding: 0;
}

.card__recycle:focus {
  outline: none;
  opacity: .6;
}

.card__recycle:hover {
  opacity: .6;
  transition: opacity .3s linear;
}
