.form__submit_disabled {
  color: #000000;
  opacity: 0.2;
  background: #FFFFFF;
  border: 1px solid #000000;
}

.form__submit_disabled:focus {
  opacity: 0.2;
}

.form__submit_disabled:hover {
  opacity: 0.2;
  
}