.page__container {
  display: grid;
  justify-items: center;
  grid-template-areas:
   'header'
   'main'
   'footer';
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-rows: auto 1fr auto;
}
