.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 430px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  padding: 0 36px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 460px) {
  .form {
    padding: 0 20px 0;
  }
}